[2021-08-17 18:43] arifzeeshan opened #1 "Mapping PS2 Dell keyboard"
Thank you for maintaining this.

I have a similar laptop E7470 model. I read your SSDT files and you have patches for Fn keys, Sleep and LID.  Both the laptops have the same keyoard layouts. I tried using your SSDTs but when activating Fn+Insert hotkey, it goes to sleep but when I wake up, it takes so much time with blackscreen and the Brightness keys stop working. I need to reboot to fix it.

Are

[2021-08-19 02:13] Lovely-XPP commented on #1
Thank you for your issues, I don't pay attention to this before. When I try Fn+Insert hotkey, it really doesn't work. I will try to fix it. If fixed, I will update it.

[2021-08-20 07:23] Lovely-XPP commented on #1
I updated the EFI just now with this problem solved. Here is the description:
This commit fixes the key 'fn + insert' to sleep. When you active fn + insert, the computer will get into sleep but wake after a while and then it continue to sleep when the screen going black. If you can not wake the laptop by activating any key, you can try to active 'fn + insert' key again, it always work.
I test it o

[2021-08-20 07:24] Lovely-XPP commented on #1
I updated the EFI just now with this problem solved. Here is the description:
This commit fixes the key 'fn + insert' to sleep. When you active fn + insert, the computer will get into sleep but wake after a while and then it continue to sleep when the screen going black. If you can not wake the laptop by activating any key, you can try to active 'fn + insert' key again, it always work.
I test it o

[2021-08-20 07:25] Lovely-XPP commented on #1
I updated the EFI just now with this problem solved. Here is the description:
This commit fixes the key 'fn + insert' to sleep. When you active fn + insert, the computer will get into sleep but wake after a while and then it continue to sleep when the screen going black. If you can not wake the laptop by activating any key, you can try to active 'fn + insert' key again, it always work.
I test it o

[2021-08-22 16:55] arifzeeshan commented on #1
Is hibernate working for you ? I have the Hibernatefixup kext.

This is my pmset -g

[code]

[2021-08-23 00:53] Lovely-XPP commented on #1
Yes, I find the sleep is still working bad. I am working on it these days. The first things I fix is the Gpu, and now I make it. It support HEVC decoding now.

<img width="888" alt="image" src="https://user-images.githubusercontent.com/66028151/130376215-1b615faf-4ee2-4640-a488-1a2c279e906a.png">

Now it can successfully sleep but not in actually sleep, when the screen off, it is still working and

[2021-08-23 07:50] arifzeeshan commented on #1
How did you added support for HEVC decoding ? I just realized that it's broken for mine too.

[2021-08-23 07:54] Lovely-XPP commented on #1
You can try to delete the key "AAPL,slot-name" in your DeciceProperies of Graphic card like this in your config:

<img width="1280" alt="image" src="https://user-images.githubusercontent.com/66028151/130411035-e75f81d8-1795-4eaa-9669-22cf920ca00d.png">

[2021-08-23 08:02] arifzeeshan commented on #1
That doesn't fix it.

[2021-08-23 08:09] Lovely-XPP commented on #1
I can't remember what I did, because  I am working on the sleep problems with the EFI changing rapidly. So,  I upload the present EFI to you here. It works for me about the HEVC decoding, you can have a try.

[EFI.zip](https://github.com/Lovely-XPP/Dell-Latitude-E7480-Hackintosh/files/7030216/EFI.zip)

[2021-08-23 08:32] arifzeeshan commented on #1
Okay, I fixed it by removing the whole PCI (0x0, 0x02) slot as Whatevergreen.kext automatically injects all the properties.

[2021-08-23 09:33] Lovely-XPP commented on #1
I have a solution on sleep issue, but it conflicts with the key "fn + insert" and LID sleep. According to tests these days, I find the problem is S3 sleep mode. Therefore, I use SSDT to ban it, but it comes that the key "fn + insert" and LID sleep can not work. Then I use another way to sleep called [AOAC](https://github.com/5T33Z0/OC-Little-Translated/tree/main/04.%20Fixing%20Sleep%20and%20Wake%2

[2021-08-23 09:33] Lovely-XPP commented on #1
I have a solution on sleep issue, but it conflicts with the key "fn + insert" and LID sleep. According to tests these days, I find the problem is S3 sleep mode. Therefore, I use SSDT to ban it, but it comes that the key "fn + insert" and LID sleep can not work. Then I use another way to sleep called [AOAC](https://github.com/5T33Z0/OC-Little-Translated/tree/main/04.%20Fixing%20Sleep%20and%20Wake%2

[2021-08-23 10:19] arifzeeshan commented on #1
So, did you fixed the deepidle ?

[2021-08-23 10:55] arifzeeshan commented on #1
AFAIK, your System needs to support DeepIdle or AOAC(Always on Always connected) specification for it to work.

[2021-08-23 14:49] Lovely-XPP commented on #1
It is not necessary for you to have  DeepIdle or AOAC support. For me, I edit the SSDT-PCI0.LPCB-Wake-AOAC.dsl and it works for me. It supports key "Fn + insert" to sleep, but Lid device do not support sleep, I am working on it. I want to edit the SSDTs to support Lid device with Deepldle.

[2021-08-23 14:52] Lovely-XPP commented on #1
For your doubt, the method also suit the Laptop without AOAC and I have tested it successfully.

<img width="919" alt="image" src="https://user-images.githubusercontent.com/66028151/130468369-89ecfc23-070a-4cec-9b4b-6790203dec7c.png">

[2021-08-23 15:57] arifzeeshan commented on #1
When in Fn+Insert sleep, breathing light is working for you ?

[2021-08-23 16:01] Lovely-XPP commented on #1
No, actually when you sleep by click the sleep button in the apple menu(apple logo), breathing light don not work. It is normal for that. Here is the reason:

<img width="947" alt="image" src="https://user-images.githubusercontent.com/66028151/130479532-14c69e91-4e46-4b75-9690-df1a43daaddf.png">

[2021-08-23 16:20] arifzeeshan commented on #1
For me, without the SSDT-DeepIdle, breathing light works. But Sleep gets broken with SSDT-DeepIdle, so can't test Breathing light.

[2021-08-23 16:29] Lovely-XPP commented on #1
If you sleep worked well before, you can use your config before. For me, previous config will cause black screen after sleep  and I had to reboot. But when I use SSDT-Deepldle, sleep well except breathing light. If you want to use this method, you may also add these SSDTs:

* SSDT-NameS3-disable
* SSDT-DeepIdle
* SSDT-PCI0.LPCB-Wake-AOAC

and rename _S3 to XS3 by add patch:

``
Find: 5F53335F
Repl

[2021-08-23 16:32] arifzeeshan commented on #1
I used the same SSDTs and ACPI renames but Sleep is broken. I wonder how much difference between DeepIdle and normal S3 sleep.

[2021-08-23 16:38] Lovely-XPP commented on #1
I will do a test about the consumption of power in DeepIdle sleep. But for S3 sleep, my laptop can't work on it. So I can't get the data from S3 sleep.

[2021-08-23 16:40] arifzeeshan commented on #1
Can you update the repo with what changes did you make to make SleepIdle work in the SSDT. I'll try once more with your insights.

[2021-08-24 00:58] Lovely-XPP commented on #1
Will the new EFI works in your laptop? Here is my test result with DeepIdle:

<img width="180" alt="image" src="https://user-images.githubusercontent.com/66028151/130538454-9328b6fe-7516-4cc6-a827-d4fcf9b840fc.png">

<img width="827" alt="image" src="https://user-images.githubusercontent.com/66028151/130538509-04755335-d28d-4911-90c5-8ac64772b76f.png">

My battery health is about 73% and my laptop

[2021-08-24 04:44] arifzeeshan commented on #1
No, the latest EFI doesn't work for me. Something is wrong, it power drain is too much. Mine just consumes 2-3% in 8 hrs S3 sleep. Btw, what is that app you are using to show battery percentage ?

[2021-08-24 10:58] Lovely-XPP commented on #1
Ok, thank for your feedback, I may desperate into 2 branches for S3 sleep mode and DeepIdle mode. The app is called `Sensei`. If you want this app, you can leave your email so that I can send it to you.

[2021-08-24 12:26] arifzeeshan commented on #1
Either your Battery is at fault or you need to investigate in what is consuming so much power. You can use [Power metrics](https://developer.apple.com/library/archive/documentation/Performance/Conceptual/power_efficiency_guidelines_osx/PrioritizeWorkAtTheTaskLevel.html#//apple_ref/doc/uid/TP40013929-CH35-SW10) **powermetrics** is a Mac-only command-line utility that provides many high-quality powe

[2021-08-24 12:29] Lovely-XPP commented on #1
Ok, I will have a try, thank you.

[2021-08-24 12:55] Lovely-XPP commented on #1
Unbelievably, I just fix up S3 sleep mode by adding SSDT-GPRW and patch `GPRW to XPRW`. I will test S3 sleep later and update EFI.

[2021-08-25 01:14] Lovely-XPP commented on #1
My S3 sleep also works well. It consumes about 3% power in 8 hour.

<img width="242" alt="image" src="https://user-images.githubusercontent.com/66028151/130710193-d630999e-b18a-48af-9b80-b637eacdc7bd.png">

Thanks for your suggestions and feedback.

[2021-08-25 01:14] #1 closed

[2021-08-25 07:29] arifzeeshan commented on #1
Could you please search on your OEM DSDT the following.
- Open MaciASL
- Click on "File > New From ACPI" and select `FACP.aml`
- Search for `Low Power S0 Idle`. Tell me if it is = `1` or `0`

<img width="844" alt="Screenshot 2021-08-25 at 12 56 42 PM" src="https://user-images.githubusercontent.com/26674272/130745618-1dfb7356-2277-4bc1-aad7-b76a52edeab1.png">

[2021-08-25 08:03] Lovely-XPP commented on #1
It is`0`.

<img width="732" alt="image" src="https://user-images.githubusercontent.com/66028151/130751700-f1edee45-311a-4f80-8062-333d4b442dce.png">

[2021-08-26 04:16] aancw opened #2 "External Microphone"
Hi,
This repo is awesome, thank you for making it. I'm trying to use external microphone and plug it in jack but it's not detected. Have you try external microphone or headphone microphone? I'm so confused because I can't use mic for my webinar.

Thank you.

[2021-08-28 02:12] aancw commented on #2
I'm tested it with text edit. When pressing home it doesn't go to beginning of paragraph instead it scroll to the top of file. It's like page up.

I will try to reset nvram

[2021-08-30 09:36] Lovely-XPP commented on #2
I get some information about the AppleALC and tried to customize my own config of ALC256 these days. However, it doesn't work. In fact, origin layout-id 21 suit our device as well. Maybe it is a bug or something I do not notice. I am not specializing in sound-card, so I decide to give up and wait for kext update.

[2021-08-31 09:34] aancw commented on #2
If it's a bug, we need to submit PR to AppleLC kext? So he notice this issue too.

[2021-09-01 15:47] Lovely-XPP commented on #2
Yes, I will. I will try once more. If not success, I will submit this issue to AppleALC. I will do it in my free time.

[2021-09-05 06:46] aancw commented on #2
Hi, do you use external mouse or trackpad/mousepad? I'm using mousepad and it not working. Do you have the same issue too?

[2021-09-05 13:55] Lovely-XPP commented on #2
I use external mouse, it works well. Maybe you can try to customize your USB port by this tool: [USBMap](https://github.com/corpnewt/USBMap).

[2021-09-05 15:40] aancw commented on #2
My external mouse is working well. What not working is my internal touchpad.

[2021-09-05 15:47] Lovely-XPP commented on #2
I don't have this issue. Do you use the latest EFI ? Maybe it is the SDST's problem.

[2021-09-05 16:27] ShevonKuan commented on #2
小鹏鹏最叻

[2021-09-05 17:20] aancw commented on #2
I'm using the latest. Wait i will try to download your efi and reset nvram.

[2021-09-06 06:10] Lovely-XPP commented on #2
It is the problem of the kexts of wireless card. I will publish EFI for Intel wireless card later.

[2021-09-06 09:07] aancw commented on #2
Wireless card? It said vodooinput. I'm using airportlwm

[2021-09-06 09:18] Lovely-XPP commented on #2
Oh, maybe I know the issue. You can check if the `VoodooI2C.kext/Contents/PlugIns/VoodooInput.kext` disabled. If not, you may disable it.

<img width="1280" alt="image" src="https://user-images.githubusercontent.com/66028151/132192733-b9f73953-61b2-48c8-af92-baa65a36c9f8.png">

[2021-09-06 09:54] aancw commented on #2
Wait, let me check bro

[2021-09-06 10:12] aancw commented on #2
The error and kernel panic is dissapear. But it still stuck at this

![IMG_20210906_171131.jpg](https://user-images.githubusercontent.com/6284204/132201186-8223dc18-c9c9-44c7-a490-723e37702703.jpg)

[2021-09-06 13:54] Lovely-XPP commented on #2
I am sorry that I don not know the exactly issue about the figure. But, I have updated EFI just now included  a config of intel  wireless card supported. You can have a try. I believe it may help you, for our devices is actually the same except the wifi card.

[2021-09-06 13:57] Lovely-XPP commented on #2
Download link: [Click here](https://github.com/Lovely-XPP/Dell-Latitude-E7480-Hackintosh/releases/tag/0.7.2.4)

and don't forget to read the instruction as below:

This version has add Intel wireless card support ,update kexts and partly support hot-plug for type-c or thunderbolt.

For Intel-wireless-card user, you need to

* Delete the existing `config.plist`
* Change the name of `config-intel-wi

[2021-09-06 16:54] aancw commented on #2
I will try using your latest efi. Is my issue related to AppleSMC?

Hey, do you have telegram account? Maybe we can discuss about the efi more real time.

[2021-09-06 16:54] aancw commented on #2
If I'm using my EFI and merge your efi, it works. But if only using your EFI, it stuck.

[2021-09-06 17:16] aancw commented on #2
Using your uptodate EFI. It still stuck at AppleSMC

[2021-09-06 17:44] aancw commented on #2
Detail report from apple report tool

![IMG_20210907_004407.jpg](https://user-images.githubusercontent.com/6284204/132249999-62980553-1e63-47bc-a02c-c8c7629791ca.jpg)

[2021-09-06 18:42] aancw commented on #2
Comparing Flashdrive EFI with SSD EFI the different that I suspect is only config.plist
![image](https://user-images.githubusercontent.com/6284204/132253304-7864aa82-b466-4866-add4-78d48a8b3a98.png)

[2021-09-06 23:26] Lovely-XPP commented on #2
OK, my phone number is +8613798633495

[2021-09-07 01:03] Lovely-XPP commented on #2
I check out the config, I found I inject my BCM card information in device properties, so I check again and delete useless device properties. I have updated it. Maybe you can try again.😂

[2021-09-09 08:27] NontTheKiller opened #5 "Headphone Jack"
I heard that you have some headphone jack microphone problem. I not sure that method that I give will work on your device but it work on my latitude 7480

1. Try [Combo Jack](https://github.com/hackintosh-stuff/ComboJack) This Method work on my device.
2. if first method not work try SSDT I attach below (It from [latitude 7480 clover](https://github.com/TranNgocKhoa/Dell-Latitude-7480-Hackintosh))

[2021-09-12 15:19] Lovely-XPP commented on #5
Thanks for your suggestions! However, It does't work on my device. Do you use AppleALC with Combo Jack with OC?

[2021-09-13 02:24] NontTheKiller commented on #5
Yes, Try layout 21 with the combo jack. I have a problem with the new version of combo jack. I have some backup of the old version. i will give you a old version try it.
[ComboJack-master.zip](https://github.com/Lovely-XPP/Dell-Latitude-E7480-Hackintosh/files/7150954/ComboJack-master.zip)
(You have to run the install.sh that I give in a old version if it not install you can give a picture in the t

[2021-09-13 04:49] aancw commented on #5
I've used combojack with layout-id 21 it doesn't work.

[2021-09-13 04:53] NontTheKiller commented on #5
Try selecting another type of mic. mine was the line in headphone but I select line in it doesn't work I try select headphone it work I don't know why try select another type of it

[2021-09-13 06:47] Lovely-XPP commented on #5
I have update repo to OC 0.7.3 and I will publish a stable release after solving some issues.

[2021-09-13 07:25] aancw commented on #5
I've selected the headphone and it still doesn't work before you create PR. Maybe ssdt problem.

[2021-09-13 08:06] NontTheKiller commented on #5
Can you try remove ssdt-256.aml and the codec commander, and try again

[2021-09-13 11:20] aancw commented on #5
I will wait @Lovely-XPP update the working version.

[2021-09-13 12:17] aancw commented on #5
Can you post screenshot for audio setting? What external mic/headphone detected?

[2021-09-13 12:30] NontTheKiller commented on #5
@aancw I cant right now I'm not in macOS. I will install macOS Catalina in Saturday. I will take a picture in Saturday.

[2021-09-13 12:31] aancw commented on #5
@NontTheKiller Big Sur or Monterey

[2021-09-13 12:40] NontTheKiller commented on #5
@aancw Never try in Big Sur or Monterey. I have try in clover with Catalina and install codec commander to s/l/e and everything work all the audio. But when I move to Opencore I didn't use codec commander i use combo jack version that i have in the comment.

[2021-09-13 12:42] aancw commented on #5
So, combojack is worked with opencore? Me and @Lovely-XPP has discussed that it worked on previous macos release. But in bigsur/monterey it still doesn't work. But will try to use the ssdt from repo you mentioned.

[2021-09-13 12:47] NontTheKiller commented on #5
@aancw I don’t know why you guy not working if when you install in terminal and have this error in the picture try version that I give. I have try in Big Sur and it work too

![](https://user-images.githubusercontent.com/49932650/126613746-70b2622c-153f-4dc2-a244-d9cc82f1bf69.png)

[2021-09-13 12:53] aancw commented on #5
The combojack is successfully installed and worked but the audio is still using internal audio not mic from headphone or external headphone. Can you post ss for audio setting?

[2021-09-13 12:56] NontTheKiller commented on #5
@aancw do you have some pop up things when you plug the headphone?

[2021-09-13 12:57] aancw commented on #5
Yes it's. It show popup. But whatever i choose, the audio setting is still not detected my mic.

[2021-09-13 13:02] aancw commented on #5
Please post your audio output setting

[2021-09-13 13:04] NontTheKiller commented on #5
I said I can't right now because I'm not in macOS I will sent you a screenshot in Saturday.

[2021-09-13 13:47] aancw commented on #5
Uploading Screen Recording 2021-09-13 at 20.44.23.mov…

[2021-09-13 14:00] aancw commented on #5
Here is my combojack @NontTheKiller  https://imgur.com/a/7dNmpX0

[2021-09-13 14:11] NontTheKiller commented on #5
@aancw try all option? Have the same problem?

[2021-09-13 14:12] NontTheKiller commented on #5
@aancw can you try another headphone?

[2021-09-13 14:13] aancw commented on #5
Yes, i'm using headphone, external mic it doesnt work

[2021-09-13 14:14] aancw commented on #5
which one the input from combojack? only internal and line.

![image](https://user-images.githubusercontent.com/6284204/133099524-e33e70b5-9eb2-4527-bf25-ca802ba2d050.png)

[2021-09-13 14:14] NontTheKiller commented on #5
it a line in

[2021-09-13 14:18] NontTheKiller commented on #5
@aancw do you have another headphone to test? If you have another can you test for me?

[2021-09-13 14:20] aancw commented on #5
I already did, told you many time and it doesnt work.

[2021-09-13 14:21] NontTheKiller commented on #5
Oh ok can you dump a IOresgisty log pls I will take a look

[2021-09-13 14:22] aancw commented on #5
I will try add ssdt-alc.aml first.

[2021-09-13 14:23] NontTheKiller commented on #5
Ok don’t forget to add codec commander

[2021-09-13 14:25] aancw commented on #5
It's the right way to do?
![image](https://user-images.githubusercontent.com/6284204/133101403-7e82dc7e-88dc-4d87-8b19-1dda8b38f90e.png)

I've remove the codec commander when installing combojack. Where can I download and what's step by step?

[2021-09-13 14:29] NontTheKiller commented on #5
Wait did you install verbstub.kext in oc

[2021-09-13 14:34] NontTheKiller commented on #5
You can download [codec commander](https://bitbucket.org/RehabMan/os-x-eapd-codec-commander/downloads/) here. insert after applealc (I have seen some problem when you boot codec commander in Opencore with macOS Big Sur and Monterey it cause kernel panic try put it on flash drive first)

[2021-09-13 14:40] aancw commented on #5
Yes i'm install the verbstub. I've added ssdt-alc.aml and still doesnt work.

Check my verbstub position

![image](https://user-images.githubusercontent.com/6284204/133104181-850c2e08-f2a7-4809-ab21-6257d19d047a.png)

[2021-09-13 14:44] NontTheKiller commented on #5
I think the loading position is important try put verbstub after applealc and remove ssdt
Only use SSDT with codec commander

[2021-09-13 14:44] aancw commented on #5
![image](https://user-images.githubusercontent.com/6284204/133104939-d8f224ed-b72e-470f-8d14-66b6a8a84d1f.png)

[2021-09-13 14:46] aancw commented on #5
okay i will remove the ssdt and reposition. will reboot.

[2021-09-13 14:54] aancw commented on #5
Still doesn't work with reposition

[2021-09-13 16:49] Lovely-XPP commented on #5
I am sorry that both of your methods can not solve the issue, but still thanks for your suggestion.

[2021-09-14 00:57] NontTheKiller commented on #5
@aancw @Lovely-XPP can you guy dump ioregistry. I want to see that combo jack is load or not because I see @aancw video and the sound input didn't change to headphone.

[2021-09-14 02:58] aancw commented on #5
Wait, let me dump it. Yes from my video, the audio input is not changed and only internal mic is working

[2021-09-14 06:43] NontTheKiller commented on #5
I think that combo jack not fully load. I want you guys to dump ioregistry logs and i will take a look

[2021-09-14 07:54] aancw commented on #5
I will let @Lovely-XPP dump the ioregistry. Because i don't know how to do it.

[2021-09-14 08:00] NontTheKiller commented on #5
open ioregistry and click on file and save as

[2021-09-14 08:10] Lovely-XPP commented on #5
Is this one?

[MacBook Pro.ioreg.zip](https://github.com/Lovely-XPP/Dell-Latitude-E7480-Hackintosh/files/7159969/MacBook.Pro.ioreg.zip)

[2021-09-14 08:15] NontTheKiller commented on #5
it said file is corruped try dump it again or you can use runme.app from olarila.com

[2021-09-14 08:49] Lovely-XPP commented on #5
Ok, check this please. BTW, do I need to install ComboJack first?

[Ioreg.txt](https://github.com/Lovely-XPP/Dell-Latitude-E7480-Hackintosh/files/7160323/Ioreg.txt)

[2021-09-14 08:50] NontTheKiller commented on #5
yes

[2021-09-14 08:50] Lovely-XPP commented on #5
Ok, wait a minute please.

[2021-09-14 08:52] NontTheKiller commented on #5
can you dump with the app i give because it will get all information about the system
https://www.olarila.com/topic/10301-olarila-runme-dumper-app/

[2021-09-14 08:54] aancw commented on #5
I'm running this tools, but why the tool say: removing resources dir

[2021-09-14 08:55] NontTheKiller commented on #5
can you take a picture of it?

[2021-09-14 09:04] aancw commented on #5
This tools say:
[code]

[Ioreg.txt](https://github.com/Lovely-XPP/Dell-Latitude-E7480-Hackintosh/files/7160439/Ioreg.txt)

[2021-09-14 09:05] aancw commented on #5
![image](https://user-images.githubusercontent.com/6284204/133229125-c13ef4ed-f5c7-4dac-96a9-c5b3b5d40d19.png)

[2021-09-14 09:21] NontTheKiller commented on #5
@aancw it should be a settings pop up about accessibility and you have to check for it

[2021-09-14 09:25] Lovely-XPP commented on #5
The whole zip is as below.

[Infomation.zip](https://github.com/Lovely-XPP/Dell-Latitude-E7480-Hackintosh/files/7160610/Infomation.zip)

[2021-09-14 09:34] aancw commented on #5
Already did and still the same. I thing information from @Lovely-XPP is same as mine.

[2021-09-14 09:36] NontTheKiller commented on #5
@Lovely-XPP can you plug your headphone and sent Ioregistry log again pls

[2021-09-14 09:46] Lovely-XPP commented on #5
I don't have headphone now😂, I will try it tonight.

[2021-09-14 18:08] Lovely-XPP commented on #5
It's Ok. I find it work in Big Sur 11.6 with the choice of "headphone mic". Thanks.

[2021-09-14 23:15] NontTheKiller commented on #5
@Lovely-XPP FIX
 @aancw how about you can you run rumme.app by Olarila again pls I want to see Ioregistry

[2021-09-14 23:17] NontTheKiller commented on #5
@Lovely-XPP what combo jack version are you using? Because when I use combo jack from GitHub I get a error when it install.

[2021-09-15 08:16] aancw commented on #5
Confirmed it works with headset options.

[2021-09-15 08:19] aancw commented on #2
It work with combojack and macos version 11.6.

[2021-09-15 08:19] #2 closed

[2021-09-15 10:27] Lovely-XPP commented on #5
I use the latest version of ComboJack in its repo with macOS 11.6.

[2021-09-15 10:28] NontTheKiller commented on #5
Ok I will try. Thank for you guys help

[2021-09-15 10:28] #5 closed

[2021-12-17 19:37] sathishkumar294 opened #11 "4K output via USB C (thunderbolt port)"
Hi @Lovely-XPP, thanks a lot for your great work in getting everything running for Dell 7480 laptop. I had a working EFI, but yours is  just better. Only one shortcoming I notice is that when connected to a 4K monitor via thunderbolt port, the hackintosh recognises only 2560x1600 resolution instead of full 3840x2160.
I am trying various guides available online, but couldn't get it working so far.

[2021-12-17 19:42] sathishkumar294 commented on #11
![Screenshot 2021-12-18 at 1 09 17 AM](https://user-images.githubusercontent.com/6660993/146599087-e333faa7-8a4e-474b-8157-a89ba254ae20.png)
You can see that the external monitor (HP Envy 27" 4K) does not show full resolution. The port works fine when using Windows or Ubuntu

[2021-12-18 10:06] Lovely-XPP commented on #11
Ok, you may try the app here.

[RDM.app.zip](https://github.com/Lovely-XPP/Dell-Latitude-E7480-Hackintosh/files/7739077/RDM.app.zip)

[2021-12-18 10:09] Lovely-XPP commented on #11
Open the app and there will be a icon in your menu bar like this. Look at it and check if there is 3840*2160 resolution.

<img width="277" alt="image" src="https://user-images.githubusercontent.com/66028151/146637294-39869bf0-9dae-4e43-824e-8186f7718a9a.png">
.

[2021-12-21 05:40] sathishkumar294 commented on #11
Thanks for your reply @Lovely-XPP. I tried using  the RDM app, but the max resolution shown for my external display is still 2560x1600 instead of 3840x2160. Using ubuntu or windows 10, the thunderbolt port provides full 4K resolution.

[2021-12-21 06:46] Lovely-XPP commented on #11
Okay, Maybe your laptop haven't enabled the 3840x2160 resolution. You can try the [one-key-hidpi](https://github.com/xzhih/one-key-hidpi). And enable the 3840x2160 resolution through it.

[2021-12-23 15:58] aancw commented on #11
I'm using 4K monitor too but stuck at 2560.

[2021-12-26 08:54] vijayaragavan2506 opened #12 "E7480 - Can't boot BigSur (1080p display variant)"
Hi.. Thanks for updated guide for E7480.. I have tried to boot BigSur 11.6.2 with your EFI.. I have same config as yours.. But Full HD display.. I'm getting errors..![20211226_142432.jpg](https://user-images.githubusercontent.com/72325834/147403443-f01e203d-e715-451d-aa44-bb6c80258745.jpg)

[2021-12-26 08:56] NontTheKiller commented on #12
What error? Can you take a screenshot of the error?

[2021-12-26 09:00] vijayaragavan2506 commented on #12
Every time it stucks at same (All kernel threads created fpr interface lo0 have been scheduled at least once. Proceeding) ![20211226_143040.jpg](https://user-images.githubusercontent.com/72325834/147403561-a8047a2c-2f59-429f-944d-b9b6a6fe750c.jpg)

[2021-12-26 09:12] Lovely-XPP commented on #12
Maybe it has some problems with the kext ``VoodooPS2Controller.kext/Contents/PlugIns/VoodooPS2Trackpad.kext ``, I have disabled it in the config files as I attach below. Maybe you can have a try.
[config.zip](https://github.com/Lovely-XPP/Dell-Latitude-E7480-Hackintosh/files/7776773/config.zip)

[2021-12-26 09:14] Lovely-XPP commented on #11
I don't have a 4k monitor, so I can't know the problem exactly. If I have chance to own one, I will have a try and try to solve the issue.

[2021-12-26 09:23] vijayaragavan2506 commented on #12
Sure.. I will try to boot without any voodoo kexts...

[2021-12-26 15:03] Lovely-XPP commented on #12
Maybe you can try the previous release version, which had old version Voodoo kexts.

[2022-01-26 14:12] sathishkumar294 commented on #11
I tried various other solutions recommended on web, none seem to work. For me it seems more like a MacOS Big Sur problem than something to do with hackintosh. Too bad, I do not have a real mac to confirm this.

[2022-01-27 16:13] sathishkumar294 commented on #11
I have upgraded to latest Monterey release and the issue still persists.

[2022-01-27 17:45] Lovely-XPP commented on #11
Another possibility is that there is a problem with the Thunderbolt's driver in hackintosh.

[2022-06-25 07:44] Lovely-XPP commented on #12
Maybe you can try the latest Voodoo kext, which fixed kernel panics.
https://github.com/dortania/build-repo/releases/download/VoodooPS2-2f7dac2/VoodooPS2Controller-2.2.9-RELEASE.zip

[2022-07-13 12:46] lygilygi opened #15 "7480 Thunderbolt not working"
Heya - I've got a problem with a thunderbolt port - it is detecting USB-C drive but is not detecting TB3 device (like Blackmagic)
Everything is enabled in the bios (dual boot and windows works perfectly fine) - I can rule out cable or TB device problem.
TB section says   Thunderbolt/USB4:	No drivers are loaded.
Do you have any solution?

[2022-07-22 02:20] Lovely-XPP commented on #15
You can try the latest release, I have tested it and it works.

[2022-07-22 08:32] pawellygan commented on #15
Thx for updates. I loaded your recent edits and unfortunately it causes reboot during loading OS X

[2022-07-22 09:27] Lovely-XPP commented on #15
Wait a minute, let me check the config.plist again

[2022-07-22 09:32] Lovely-XPP commented on #15
By the way, do you have the `hackintool` app? If so, could you get a capture of PCI Infomation like this?
<img width="1552" alt="image" src="https://user-images.githubusercontent.com/66028151/180410235-7234ca90-73f0-4cfd-96c7-1fa513ea523b.png">

[2022-07-22 09:37] pawellygan commented on #15
DEBUG   VID  DID  SVID SDID ASPM   Vendor Name                    Device Name                                        Class Name           SubClass Name        IOReg Name      IOReg IOName    Device Path
-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

[2022-07-22 09:37] pawellygan commented on #15
![Screenshot 2022-07-22 at 10 37 31](https://user-images.githubusercontent.com/45388740/180411483-68a9baef-e0df-4ffb-be33-dc57636917b4.png)

[2022-07-22 09:48] Lovely-XPP commented on #15
May you try this one.
[config.zip](https://github.com/Lovely-XPP/Dell-Latitude-E7480-Hackintosh/files/9166654/config.zip)

[2022-07-22 09:54] pawellygan commented on #15
still the same. Its the error generated when loaded old EFI after reboot
![LWScreenShot 2022-07-22 at 10 52 22](https://user-images.githubusercontent.com/45388740/180414579-78bf8b06-b4c9-4c0c-84a5-f958427b05e8.png)

[2022-07-22 09:55] Lovely-XPP commented on #15
okey, sorry about that, it is not the thunderbolt problem, it is the problem of Graphic, I will check it.

[2022-07-22 09:57] Lovely-XPP commented on #15
[config.zip](https://github.com/Lovely-XPP/Dell-Latitude-E7480-Hackintosh/files/9166726/config.zip)

This one should be okey.

[2022-07-22 10:05] pawellygan commented on #15
I can confirm the system is booting now but Blackmagic Multimedia device is still not recognized correctly
![Screenshot 2022-07-2
![Screenshot 2022-07-22 at 11 05 10](https://user-images.githubusercontent.com/45388740/180416734-2a5e9756-80c2-41d9-8931-3ac49d0c6583.png)
2 at 11 05 35](https://user-images.githubusercontent.com/45388740/180416723-aaa51bb6-4db3-4a71-978a-b2d528add6bf.png)

[2022-07-22 10:06] pawellygan commented on #15
![Screenshot 2022-07-22 at 11 05 10](https://user-images.githubusercontent.com/45388740/180416822-8f9c7d0b-3e45-4ee4-8fc3-7eeb874e1b2f.png)

[2022-07-22 10:07] Lovely-XPP commented on #15
Do you install their thunderbolt drivers for your product?

[2022-07-22 10:16] pawellygan commented on #15
just reinstalled BM app and no change. I plugged the same device with the same cable to my M1 and everything is working correctly. The device and TB cable are ok. I will test later TB network adapter

[2022-07-22 10:17] pawellygan commented on #15
![Screenshot 2022-07-22 at 11 17 09](https://user-images.githubusercontent.com/45388740/180418751-48b4bf15-dfaf-411c-8630-592d97c02947.png)

[2022-07-22 10:24] Lovely-XPP commented on #15
[config.zip](https://github.com/Lovely-XPP/Dell-Latitude-E7480-Hackintosh/files/9166910/config.zip)

I delete unnecessary device, try one more time.

[2022-07-22 10:37] pawellygan commented on #15
still not too happy :
![Screenshot 2022-07-22 at 11 37 07](https://user-images.githubusercontent.com/45388740/180422069-d78e7527-1f93-429c-9fb0-d6c024a734fa.png)
(

[2022-07-22 10:40] Lovely-XPP commented on #15
Maybe you can try injecting the device in OpenCore Configurator

[2022-07-22 10:40] pawellygan commented on #15
![image](https://user-images.githubusercontent.com/45388740/180422489-2379a537-0b40-4780-bf37-35739a4fb4d8.jpeg)

It's my TB config.
Will try injection now

[2022-07-22 10:41] Lovely-XPP commented on #15
Yes, the config is as same as mine.

[2022-07-22 10:50] pawellygan commented on #15
hah, let me learn how to manually inject it and I will come back to you ;P

[2022-07-22 10:50] Lovely-XPP commented on #15
hah, okey

[2022-07-22 14:05] pawellygan commented on #15
Thunderbolt Ethernet (apple) works just fine. I'm not sure why Blackmagic is so temperamenta
![Screenshot 2022-07-22 at 15 03 44](https://user-images.githubusercontent.com/45388740/180456152-23d62e8c-1a79-47b8-a27b-538fda3b67d8.png)
l

[2022-07-22 14:07] Lovely-XPP commented on #15
Maybe media device is not fully supported

[2022-07-29 16:06] sathishkumar294 opened #16 "4K via HDMI not working - max resolution 2560x1600"
Similar to the issue #11, I am not able to run my 4K monitor at optimal resolution of 4K. The resolution is capped at 2560x1600 only. @Lovely-XPP have you tested your config on a 4K monitor.
Thanks a lot for your great work and for sharing your resources with us!

[2022-07-29 18:32] sathishkumar294 commented on #11
Solved!. I asked the same question at [osxlatitude](https://osxlatitude.com/forums/topic/17429-latitude-7480-unable-to-obtain-4k-resolution-on-external-monitor-through-tb-dp-port/#comment-115398) and got the fix from an admin. I had to set the DVMT to 64MB through mod grub shell. See [here](https://osxlatitude.com/forums/topic/13963-changing-dvmt-values-in-bios/) for instructions on how to find th

[2022-07-29 18:32] #11 closed

[2022-07-29 18:33] sathishkumar294 commented on #16
Even after following the solution of issue #11, I am not able to get 4K@30 via HDMI properly. I think, I need to try more.

[2022-07-30 01:54] Lovely-XPP commented on #16
I have not tested it before. I may try it later.

[2022-07-30 07:01] Lovely-XPP commented on #16
I tried it and this is connection between TV by HDMI 2.0. Is this a 4K monitor?

<img width="1196" alt="image" src="https://user-images.githubusercontent.com/66028151/181878919-796ebc8a-7db3-419e-8a57-7f22d5b390a7.png">

[2022-08-10 11:55] Lorys89 commented on #15
For hot Plug Try to activate vtd from the bios, and disable kernel/quirks disableiomap, so as to have on your Ioreg the Apple vtd and then try if it works hotplug

[2022-08-12 03:26] Lovely-XPP commented on #15
I have tried it, it doesn't work. I think the main problem is the thunderbolt device is not the same as the model (JH6540 in the laptop and JH7540 in the model). Therefore, we can not load the thunderbolt driver although we force it power on.

[2022-08-17 10:25] #12 closed

[2022-08-20 15:10] youaintnobody opened #17 "Latest release question"
Do I just use the latest release or do I combine latest release with previous release? Also latest release seem to have debug info when booting and shutting down.

[2022-08-20 16:02] Lovely-XPP commented on #17
I am sorry about that, I re-uploaded the EFI folder to latest release just now.

[2022-08-21 12:29] #17 closed

[2022-08-21 13:34] youaintnobody commented on #17
Thanks.

Quick question with this version when booting I get the following:
[code]

[2022-08-21 16:20] Lovely-XPP commented on #17
ohh I checked the EFI again and found I mixed the OC version, I'm sorry. I re-uploaded the EFI folder to latest release again just now. This time should be well.😂 Thanks for your feedback.

[2022-08-21 21:08] youaintnobody commented on #17
Thank you for fixing.

[2022-09-07 17:25] gaslarfa opened #18 "trackpad not working properly"
Greetings I have a small problem with the trackpad.

The drawback is that every time I'm going to use it, it's as if I'm using both fingers at the same time instead of just one.

I thought my trackpad was defective but on windows it works perfectly.

Could you tell me why this happens?

I am using MacOss Monterrey in version 12.5.1 with opencore 8.3

[2022-09-09 08:09] Lovely-XPP commented on #18
Maybe you can try this one, but you need to complie by yourself.😂(I will build it later.)
https://github.com/SkyrilHD/AlpsHID/tree/proj-+-pressure-test
[code]
Open the main project in Xcode and build away and replace the kext `AlpsHID.kext`. : )
If the issue exists, you can try other branches.

[2022-09-11 01:45] Way2LOose4 opened #19 "Stuck in theusing 16384 buffer headers and 10240 cluster"
hi , sorry to bother you
when i try to set Montery and Ven , i find there is a missing ssdt-als0(which leads me stuck in first time)
and  i stuck in theusing 16384 buffer headers and 10240 cluster
i don't konw what happen, some one said it maybe have connection with video card and wireless internet card ( i use bcm94360z3)
sorry again

[2022-09-11 01:49] Way2LOose4 commented on #19
https://img1.imgtp.com/2022/09/11/XCMzbSQB.jpg
Here is the picture of the issues

[2022-09-11 03:13] Lovely-XPP commented on #19
I am sorry that I have no idea, but did you try add ssdt-als0 to your OC folder?

[2022-09-11 03:17] Lovely-XPP commented on #19
By the way, your main problem is `no nvram varlable` and I will try searching for solution later.

[2022-09-11 09:02] Lovely-XPP commented on #19
Did you follow the `Recommended Bios Setup` in ReadME, and you can also try these method as below, maybe it works:
1. reset nvram
2. disable the entry `USBMap.kext` in `Kernel` of the config.plist.
3. enable the entry `NVMeFix.kext` in `Kernel` of the config.plist.

[2022-09-11 09:04] Lovely-XPP commented on #18
I am sorry that I have no spare space for installing Xcode, so I can't build it for you😔. If possible, you can build by yourself.

[2022-09-11 16:50] Way2LOose4 commented on #19
As you see, I add the ssdt-als0 to my oc.
But, it still stuck after try the method.
I reset my bios setting and  nvram but the issue still happened.

[2022-09-11 16:56] Way2LOose4 commented on #19
by the way, my bios version is 1.26.0,
if you need, here is my system information
wifi card be moved by myself for edit issue
https://img1.imgtp.com/2022/09/12/a0k0OgDY.jpg
https://img1.imgtp.com/2022/09/12/DpyP52Cl.jpg

[2022-09-14 02:46] Lovely-XPP commented on #19
Maybe you can get some ideas from here: https://www.tonymacx86.com/threads/solved-amfiloadtrustedkeysfromnvram-failed-getting-nvram-using-16384-buffer.298735/.

In my opinion, maybe something wrong with ACPI Patch.

[2022-09-14 02:54] Lovely-XPP commented on #19
As the solution on the website attached says, you can try to add ACPI Patch like this one in OpenCore configurator:

<img width="1493" alt="image" src="https://user-images.githubusercontent.com/66028151/190047798-245d06b0-4935-4ddc-bad5-fe6975b4344a.png">

[2022-09-14 02:59] Lovely-XPP commented on #19
By the way, your hardware and bios version is as same as mine (except wifi card, but it is not important), so it's strange to meet panic. 😑

[2022-09-18 02:55] Way2LOose4 commented on #19
[EFI.zip](https://github.com/Lovely-XPP/Dell-Latitude-E7480-Hackintosh/files/9592953/EFI.zip)
Sorry for so late response, I buy a new in Taobao, u can see if it working.

[2022-09-18 02:55] #19 closed

[2022-10-25 18:02] gaslarfa opened #20 "Official update"
i can't update to macos ventura official using this EFI

[2022-10-27 09:25] Lovely-XPP commented on #20
I check the config plist again, all entries may be alright. I think if something wrong with your config on SIP. From Apple official, if you turn off SIP, you can not get the latest update from OTA in the setting. By the way, if you use the release version, you can check your SIP status in OC Boot.

[2022-10-27 09:29] Lovely-XPP commented on #20
![OC_info](https://user-images.githubusercontent.com/66028151/198247658-96ecd3eb-331b-47d6-9b6d-95bf6ce59a5a.png)

 You can choose the entry `Toggle SIP` to change the SIP status.

[2022-11-22 16:42] H3xidecimal commented on #18
I can confirm this worked for me. I pulled down the repo and compiled the new AlpsHID.kext file and it corrected the strange trackpad behavior.

[2022-11-23 14:27] H3xidecimal commented on #18
[AlpsHID.kext.zip](https://github.com/Lovely-XPP/Dell-Latitude-E7480-Hackintosh/files/10076397/AlpsHID.kext.zip)

There you go. No problem, happy to help!

[2022-11-23 17:50] Lovely-XPP commented on #18
Thanks a lot :)

[2022-11-23 17:54] #18 closed

[2022-11-27 15:10] RJJvW opened #21 "AlpsHID.kext not working properly - solution"
With the AlpsHID.kext v1.3 the trackpad is not working properly on my E7480.
I went over to https://github.com/blankmac/AlpsHID and downloaded AlpsHID.kext v1.2.
I replaced the original in the EFI folder with v1.2 and now the trackpad is working properly.
Ik only replaced AlpsHID.kext but not VoodooI2CHID.kext. Also I did not change anything in config.plist.